@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes highlight {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

/* :root {
  --highlight-from: theme(colors.sky.500);
  --highlight-to: theme(colors.gray.900);
} */
